<launch>
    <arg name="backup" default="true" />
    <group if="$(arg backup)">
        <node pkg="spirecv_ros" type="rtsp_forward" name="rtsp_forward_backup" output="screen" respawn="true">
            <rosparam file="$(find spirecv_ros)/config/rtsp_forward_config.yaml" command="load"/>
        </node>
    </group>
    <group unless="$(arg backup)">
        <node pkg="spirecv_ros" type="rtsp_forward" name="rtsp_forward_backup" output="screen" respawn="true">
            <rosparam file="$(find spirecv_ros)/config/rtsp_forward_config.yaml" command="load"/>
        </node>
    </group>
</launch>
